.anxious {
	// Reusable
	$white: #ffffff;
	$beige: $white;
	$orange: #ffce07;
	$pencil: #00aeef;
	$broth: #000000;

	// Global
	$bowl: $white;
	$free-spirit-broth: $bowl;
	$background: #ec008c;
	$table: $background;
	$red: $background;
	$pink: $background;
	$chopsticks: $orange;
	$yellow: $orange;
	$noodle: $orange;
	$noodle-shade: #895b24;
	$tsukemen-broth: $broth;
	$plate: $broth;
	$mushrooms: $background;
	$green: $pencil;
	$light-green: lighten($green, 20%);
	$cloud: $pencil;
	$nori: $pencil;
	$outlines: $broth;
	$decoration: $background;
	$decoration2: $broth;
	$phone: $pencil;
	$shoyu: $pencil;
	$shoyu-level: lighten($shoyu, 20%);
	$raindrops: $pencil;
	$garnish: $pencil;
	$sweat: $pencil;

	$palette: $white;
	$results-container: $broth;
	$you-are: $yellow;
	$title-color: $pink;
	$text-color: $white;
	$try-again: $pencil;

	@import "../globalSvgStyles.scss";
}
