.anxious {
    .st0 {
        fill: #8a9992;
    }

    .st1 {
        fill: #97a59f;
    }

    .st2 {
        fill: #ead53f;
    }

    .st3 {
        fill: #fdeb51;
    }

    .st4 {
        fill: #ec008c;
    }

    .st5 {
        fill: #70c7b2;
    }

    .st6 {
        fill: #e76152;
    }

    .st7 {
        fill: #9c9c9e;
    }

    .st8 {
        fill: #80948f;
    }

    .st9 {
        fill: #736876;
    }

    .st10 {
        fill: #5f566b;
    }

    .st11 {
        fill: #ee7928;
    }

    .st12 {
        fill: #f26422;
    }

    .st13 {
        fill: #f7a391;
    }

    .st14 {
        fill: #f27170;
    }

    .st15 {
        fill: #ec5554;
    }

    .st16 {
        fill: #e57164;
    }

    .st17 {
        fill: #6e8da0;
    }

    .st18 {
        fill: #829bad;
    }

    .st19 {
        fill: #e9a041;
    }

    .st20 {
        fill: #171b2b;
    }

    .st21 {
        fill: #396f91;
    }

    .st22 {
        fill: #497f9b;
    }

    .st23 {
        fill: #d7dddd;
    }

    .st24 {
        fill: #294666;
    }

    .st25 {
        fill: #9376b2;
    }

    .st26 {
        fill: #2a2d3f;
    }

    .st27 {
        fill: #e83b95;
    }

    .st28 {
        fill: #9fd7ca;
    }

    .st29 {
        fill: #62bca4;
    }

    .st30 {
        fill: #1d2036;
    }

    .st31 {
        opacity: 0.5;
        fill: #ffffff;
    }

    .st32 {
        fill: #f68b1f;
    }

    .st33 {
        fill: #ffce07;
    }

    .st34 {
        fill: #753624;
    }

    .st35 {
        fill: #2f717a;
    }

    .st36 {
        fill: #ffd683;
    }

    .st37 {
        fill: #01444f;
    }

    .st38 {
        fill: #ffe0b6;
    }

    .st39 {
        fill: #e72527;
    }

    .st40 {
        display: none;
    }

    .st41 {
        display: inline;
    }

    .st42 {
        fill: #f79e1e;
    }

    .st43 {
        fill: #ffffff;
    }

    .st44 {
        fill: #f6aa8f;
    }

    .st45 {
        fill: #ffffff;
    }

    .st46 {
        fill: #ece1cc;
    }

    .st47 {
        fill: #f27171;
    }

    .st48 {
        fill: #ee7d69;
    }

    .st49 {
        fill: #f69fa1;
    }

    .st50 {
        fill: #ffecb6;
    }

    .st51 {
        fill: #e54033;
    }

    .st52 {
        fill: #eadbad;
    }

    .st53 {
        fill: #71c4ba;
    }

    .st54 {
        fill: #78b542;
    }

    .st55 {
        fill: #6b9f41;
    }

    .st56 {
        fill: #a2bc5b;
    }

    .st57 {
        fill: #8db542;
    }

    .st58 {
        fill: #e12327;
    }

    .st59 {
        fill: #edb7b6;
    }

    .st60 {
        fill: #1c4650;
    }

    .st61 {
        fill: #ea7750;
    }

    .st62 {
        opacity: 0.3;
        fill: #e72527;
    }

    .st63 {
        fill: #653c16;
    }

    .st64 {
        opacity: 0.3;
        fill: #653c16;
    }

    .st65 {
        fill: #2a5861;
    }

    .st66 {
        fill: #f26f79;
    }

    .st67 {
        fill: #eab557;
    }

    .st68 {
        fill: #80c48d;
    }

    .st69 {
        fill: #89c544;
    }

    .st70 {
        fill: #264720;
    }

    .st71 {
        fill: #52aa82;
    }

    .st72 {
        fill: #122d25;
    }

    .st73 {
        filter: url(#Adobe_OpacityMaskFilter);
    }

    .st74 {
        mask: url(#SVGID_1_);
    }

    .st75 {
        opacity: 0.3;
        fill: #895b24;
    }

    .st76 {
        fill: #895b24;
    }

    .st77 {
        fill: #caab82;
    }

    .st78 {
        fill: #e5e5e5;
    }

    .st79 {
        fill: #a8afaf;
    }

    .st80 {
        fill: #363a49;
    }

    .st81 {
        fill: #af84a7;
    }

    .st82 {
        fill: #e8e8b2;
    }

    .st83 {
        fill: #b8d3c7;
    }

    .st84 {
        fill: #abb2b2;
    }

    .st85 {
        fill: #faa635;
    }

    .st86 {
        fill: #4db5a5;
    }

    .st87 {
        fill: #00aeef;
    }

    .st88 {
        fill: #efd6b4;
    }

    .st89 {
        fill: #68c5ab;
    }

    .st90 {
        fill: #48a597;
    }

    .st91 {
        fill: #7fc697;
    }

    .st92 {
        fill: #a05424;
    }

    .st93 {
        fill: #d35e46;
    }

    .st94 {
        fill: #cf6946;
    }

    .st95 {
        clip-path: url(#SVGID_3_);
        fill: #fcb017;
    }

    .st96 {
        clip-path: url(#SVGID_5_);
        fill: #fcb017;
    }

    .st97 {
        clip-path: url(#SVGID_7_);
        fill: #fcb017;
    }

    .st98 {
        clip-path: url(#SVGID_9_);
        fill: #fcb017;
    }

    .st99 {
        clip-path: url(#SVGID_11_);
    }

    .st100 {
        clip-path: url(#SVGID_13_);
        fill: none;
        stroke: #f7931f;
        stroke-width: 3;
        stroke-miterlimit: 10;
    }

    .st101 {
        clip-path: url(#SVGID_13_);
        fill: #f7931f;
    }

    .st102 {
        fill: #7790a0;
    }

    .st103 {
        fill: #40b392;
    }

    .st104 {
        opacity: 0.3;
    }

    .st105 {
        fill: #efd695;
    }

    .st106 {
        fill: #9da7b1;
    }

    .st107 {
        fill: #e2a225;
    }

    .st108 {
        fill: #51426b;
    }

    .st109 {
        fill: #bba9a6;
    }

    .st110 {
        fill: #e8b691;
    }

    .st111 {
        fill: #a59c95;
    }

    .st112 {
        fill: #f2d7b9;
    }

    .st113 {
        fill: #010101;
    }

    .st114 {
        fill: #ffecda;
    }

    .st115 {
        clip-path: url(#SVGID_15_);
    }

    .st116 {
        clip-path: url(#SVGID_17_);
        fill: none;
        stroke: #f7931f;
        stroke-width: 3;
        stroke-miterlimit: 10;
    }

    .st117 {
        clip-path: url(#SVGID_17_);
        fill: #f7931f;
    }

    .st118 {
        clip-path: url(#SVGID_19_);
    }

    .st119 {
        clip-path: url(#SVGID_21_);
        fill: none;
        stroke: #f7931f;
        stroke-width: 3;
        stroke-miterlimit: 10;
    }

    .st120 {
        clip-path: url(#SVGID_21_);
        fill: #f7931f;
    }

    .st121 {
        clip-path: url(#SVGID_23_);
    }

    .st122 {
        clip-path: url(#SVGID_25_);
        fill: none;
        stroke: #f7931f;
        stroke-width: 3;
        stroke-miterlimit: 10;
    }

    .st123 {
        clip-path: url(#SVGID_25_);
        fill: #f7931f;
    }

    .st124 {
        fill: #c3ac80;
    }

    .st125 {
        fill: #bbbc7d;
    }

    .st126 {
        fill: #f387a6;
    }

    .st127 {
        fill: #ffe3b6;
    }

    .st128 {
        fill: #5db447;
    }

    .st129 {
        fill: #d33535;
    }

    .st130 {
        fill: #97bf49;
    }

    .st131 {
        fill: #f69da6;
    }

    .st132 {
        fill: #c02026;
    }

    .st133 {
        fill: none;
    }

    .st134 {
        fill: #73767b;
    }

    .st135 {
        fill: #7c7e82;
    }

    .st136 {
        fill: #d9d9d9;
    }

    .st137 {
        fill: #adb5b0;
    }

    .st138 {
        fill: #d7dedd;
    }

    .st139 {
        fill: #b8d2c6;
    }

    .st140 {
        display: inline;
        fill: #ffe0b6;
    }

    .st141 {
        display: inline;
        fill: #e72527;
    }

    .st142 {
        fill: #ffcd60;
    }

    .st143 {
        fill: #fec248;
    }

    .st144 {
        fill: #ddbf7b;
    }

    .st145 {
        fill: #bcd266;
    }

    .st146 {
        fill: #dbdbdb;
    }

    .st147 {
        clip-path: url(#SVGID_27_);
    }

    .st148 {
        clip-path: url(#SVGID_29_);
        fill: none;
        stroke: #f7931f;
        stroke-width: 3;
        stroke-miterlimit: 10;
    }

    .st149 {
        clip-path: url(#SVGID_29_);
        fill: #f7931f;
    }

    .st150 {
        fill: #fcfcee;
    }
}