.easygoing {
    .st0 {
        fill: #8A9992;
    }

    .st1 {
        fill: #97A59F;
    }

    .st2 {
        fill: #EAD53F;
    }

    .st3 {
        fill: #FDEB51;
    }

    .st4 {
        fill: #EC008C;
    }

    .st5 {
        fill: #70C7B2;
    }

    .st6 {
        fill: #E76152;
    }

    .st7 {
        fill: #9C9C9E;
    }

    .st8 {
        fill: #80948F;
    }

    .st9 {
        fill: #736876;
    }

    .st10 {
        fill: #5F566B;
    }

    .st11 {
        fill: #EE7928;
    }

    .st12 {
        fill: #F26422;
    }

    .st13 {
        fill: #F7A391;
    }

    .st14 {
        fill: #F27170;
    }

    .st15 {
        fill: #EC5554;
    }

    .st16 {
        fill: #E57164;
    }

    .st17 {
        fill: #6E8DA0;
    }

    .st18 {
        fill: #829BAD;
    }

    .st19 {
        fill: #E9A041;
    }

    .st20 {
        fill: #171B2B;
    }

    .st21 {
        fill: #396F91;
    }

    .st22 {
        fill: #497F9B;
    }

    .st23 {
        fill: #D7DDDD;
    }

    .st24 {
        fill: #294666;
    }

    .st25 {
        fill: #9376B2;
    }

    .st26 {
        fill: #2A2D3F;
    }

    .st27 {
        fill: #E83B95;
    }

    .st28 {
        fill: #9FD7CA;
    }

    .st29 {
        fill: #62BCA4;
    }

    .st30 {
        fill: #01444F;
    }

    .st31 {
        opacity: 0.5;
        fill: #FFFFFF;
    }

    .st32 {
        fill: #F68B1F;
    }

    .st33 {
        fill: #FFCE07;
    }

    .st34 {
        fill: #753624;
    }

    .st35 {
        fill: #2F717A;
    }

    .st36 {
        fill: #FFD683;
    }

    .st37 {
        fill: #01444F;
    }

    .st38 {
        fill: #FFE0B6;
    }

    .st39 {
        fill: #E72527;
    }

    .st40 {
        display: none;
    }

    .st41 {
        display: inline;
    }

    .st42 {
        fill: #F79E1E;
    }

    .st43 {
        fill: #FFFFFF;
    }

    .st44 {
        fill: #F6AA8F;
    }

    .st45 {
        fill: #F6AA8F;
    }

    .st46 {
        fill: #ECE1CC;
    }

    .st47 {
        fill: #F27171;
    }

    .st48 {
        fill: #EE7D69;
    }

    .st49 {
        fill: #F69FA1;
    }

    .st50 {
        fill: #FFECB6;
    }

    .st51 {
        fill: #E54033;
    }

    .st52 {
        fill: #EADBAD;
    }

    .st53 {
        fill: #71C4BA;
    }

    .st54 {
        fill: #78B542;
    }

    .st55 {
        fill: #6B9F41;
    }

    .st56 {
        fill: #A2BC5B;
    }

    .st57 {
        fill: #8DB542;
    }

    .st58 {
        fill: #E12327;
    }

    .st59 {
        fill: #EDB7B6;
    }

    .st60 {
        fill: #1C4650;
    }

    .st61 {
        fill: #EA7750;
    }

    .st62 {
        opacity: 0.3;
        fill: #E72527;
    }

    .st63 {
        fill: #653C16;
    }

    .st64 {
        opacity: 0.3;
        fill: #653C16;
    }

    .st65 {
        fill: #2A5861;
    }

    .st66 {
        fill: #F26F79;
    }

    .st67 {
        fill: #EAB557;
    }

    .st68 {
        fill: #80C48D;
    }

    .st69 {
        fill: #89C544;
    }

    .st70 {
        fill: #264720;
    }

    .st71 {
        fill: #52AA82;
    }

    .st72 {
        fill: #122D25;
    }

    .st73 {
        filter: url(#Adobe_OpacityMaskFilter);
    }

    .st74 {
        mask: url(#SVGID_1_);
    }

    .st75 {
        opacity: 0.3;
        fill: #895B24;
    }

    .st76 {
        fill: #895B24;
    }

    .st77 {
        fill: #CAAB82;
    }

    .st78 {
        fill: #E5E5E5;
    }

    .st79 {
        fill: #A8AFAF;
    }

    .st80 {
        fill: #363A49;
    }

    .st81 {
        fill: #AF84A7;
    }

    .st82 {
        fill: #E8E8B2;
    }

    .st83 {
        fill: #B8D3C7;
    }

    .st84 {
        fill: #ABB2B2;
    }

    .st85 {
        fill: #FAA635;
    }

    .st86 {
        fill: #4DB5A5;
    }

    .st87 {
        fill: #00AEEF;
    }

    .st88 {
        fill: #EFD6B4;
    }

    .st89 {
        fill: #68C5AB;
    }

    .st90 {
        fill: #48A597;
    }

    .st91 {
        fill: #7FC697;
    }

    .st92 {
        fill: #A05424;
    }

    .st93 {
        fill: #D35E46;
    }

    .st94 {
        fill: #CF6946;
    }

    .st95 {
        clip-path: url(#SVGID_3_);
        fill: #FCB017;
    }

    .st96 {
        clip-path: url(#SVGID_5_);
        fill: #FCB017;
    }

    .st97 {
        clip-path: url(#SVGID_7_);
        fill: #FCB017;
    }

    .st98 {
        clip-path: url(#SVGID_9_);
        fill: #FCB017;
    }

    .st99 {
        clip-path: url(#SVGID_11_);
    }

    .st100 {
        clip-path: url(#SVGID_13_);
        fill: none;
        stroke: #F7931F;
        stroke-width: 3;
        stroke-miterlimit: 10;
    }

    .st101 {
        clip-path: url(#SVGID_13_);
        fill: #F7931F;
    }

    .st102 {
        fill: #7790A0;
    }

    .st103 {
        fill: #40B392;
    }

    .st104 {
        opacity: 0.3;
    }

    .st105 {
        fill: #EFD695;
    }

    .st106 {
        fill: #9DA7B1;
    }

    .st107 {
        fill: #E2A225;
    }

    .st108 {
        fill: #51426B;
    }

    .st109 {
        fill: #BBA9A6;
    }

    .st110 {
        fill: #E8B691;
    }

    .st111 {
        fill: #A59C95;
    }

    .st112 {
        fill: #F2D7B9;
    }

    .st113 {
        fill: #010101;
    }

    .st114 {
        fill: #FFECDA;
    }

    .st115 {
        clip-path: url(#SVGID_15_);
    }

    .st116 {
        clip-path: url(#SVGID_17_);
        fill: none;
        stroke: #F7931F;
        stroke-width: 3;
        stroke-miterlimit: 10;
    }

    .st117 {
        clip-path: url(#SVGID_17_);
        fill: #F7931F;
    }

    .st118 {
        clip-path: url(#SVGID_19_);
    }

    .st119 {
        clip-path: url(#SVGID_21_);
        fill: none;
        stroke: #F7931F;
        stroke-width: 3;
        stroke-miterlimit: 10;
    }

    .st120 {
        clip-path: url(#SVGID_21_);
        fill: #F7931F;
    }

    .st121 {
        clip-path: url(#SVGID_23_);
    }

    .st122 {
        clip-path: url(#SVGID_25_);
        fill: none;
        stroke: #F7931F;
        stroke-width: 3;
        stroke-miterlimit: 10;
    }

    .st123 {
        clip-path: url(#SVGID_25_);
        fill: #F7931F;
    }

    .st124 {
        fill: #C3AC80;
    }

    .st125 {
        fill: #BBBC7D;
    }

    .st126 {
        fill: #F387A6;
    }

    .st127 {
        fill: #FFE3B6;
    }

    .st128 {
        fill: #5DB447;
    }

    .st129 {
        fill: #D33535;
    }

    .st130 {
        fill: #97BF49;
    }

    .st131 {
        fill: #F69DA6;
    }

    .st132 {
        fill: #C02026;
    }

    .st133 {
        fill: none;
    }

    .st134 {
        fill: #73767B;
    }

    .st135 {
        fill: #7C7E82;
    }

    .st136 {
        fill: #D9D9D9;
    }

    .st137 {
        fill: #ADB5B0;
    }

    .st138 {
        fill: #D7DEDD;
    }

    .st139 {
        fill: #B8D2C6;
    }

    .st140 {
        display: inline;
        fill: #FFE0B6;
    }

    .st141 {
        display: inline;
        fill: #E72527;
    }

    .st142 {
        fill: #FFCD60;
    }

    .st143 {
        fill: #FEC248;
    }

    .st144 {
        fill: #DDBF7B;
    }

    .st145 {
        fill: #BCD266;
    }

    .st146 {
        fill: #DBDBDB;
    }

    .st147 {
        clip-path: url(#SVGID_27_);
    }

    .st148 {
        clip-path: url(#SVGID_29_);
        fill: none;
        stroke: #F7931F;
        stroke-width: 3;
        stroke-miterlimit: 10;
    }

    .st149 {
        clip-path: url(#SVGID_29_);
        fill: #F7931F;
    }

    .st150 {
        fill: #FCFCEE;
    }

    .st151 {
        font-family: 'MyriadPro-Semibold';
    }

    .st152 {
        font-size: 32px;
    }

    .st153 {
        letter-spacing: 3;
    }
}