.st4 {
    fill: $background;
}

.st27 {
    fill: $table;
}

#bowl05-decor,
#bowl05-lines,
#bowl03-lines,
#bowl04-lines_3_,
#bowl06-decor_1_,
#bowl06-lines_1_,
#bowl02-fill-inside_1_,
#bowl02-lines_1_ {
    fill: $outlines;
}

#bowl05-fill,
#bowl03-fill,
#bowl04-fill_3_,
#bowl06-fill_1_,
#bowl02-fill_1_ {
    fill: $bowl;
}


#bowl04-flowers_3_ {
    fill: $decoration;
}