@import url("https://use.typekit.net/vhq5zze.css");

// Fonts
$type-heading: "Termina", sans-serif;
$type-base: "source-sans-pro", sans-serif;
$type-accent: "Alfarn", sans-serif;

// Colors
$background: white;
$white: white;
$black: black;
$card-color: grey;
$accent-color: lightgrey;
$pink: #e92e55;
$maroon: #5a110a;
$gold: #876521;
$teal: #2a5960;
$textGold: #e1c487;
$textBlue: #70c4ba;

// Easings
$cubic-ease: cubic-bezier(0.18, 0.61, 0.63, 0.975);

// Breakpoints
$breakpoint-small: 768px;
$breakpoint-medium: 1440px;
