// Fonts
$type-heading: "Termina",
sans-serif;
$type-base: "Source Sans",
sans-serif;
$type-accent: 'Alfarn',
sans-serif;

// Colors
$background: white;
$white: white;
$black: black;
$card-color: grey;
$accent-color: lightgrey;
$pink: #E92E55;
$maroon: #5A110A;
$gold: #876521;
$teal: #2A5960;
$textGold: #E1C487;
$textBlue: #70C4BA;

// Easings
$cubic-ease: cubic-bezier(0.18, 0.61, 0.63, 0.975);

// Breakpoints
$breakpoint-small: 768px;
$breakpoint-medium: 1440px;